<?xml version="1.0">

<model>
	<name>Velodyne HDL-32</name>
	<version>1.0</version>
	<sdf version="1.5">model.sdf</sdf>
	
	<author>
	 <name>Nathan Boyd</name>
	 <email>nathan.boyd.481@my.csun.edu</email>
	</author>
	
	<description>
	 A basic lidar model of a velodyne HDL-32 LIDAR sensor
	</description>

</model>
